.global_section{
    min-width: min-content;
    min-height: max-content;
    background: #FFFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border-width: 2px;
    border-color: #e1b895;
}

.header_text{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5%;
}

.error{
    color: red;
    margin-bottom: 2%;
}